# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.build/
dist/

# Virtualenv
.venv/
venv/

# FastAPI / Uvicorn
*.log

# Env & secrets
.env
*.env.local

# IDEs
.vscode/
.idea/

# Mac/Win
.DS_Store
Thumbs.db
